/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/*MY CODING STARTS HERE*/


.appContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 92.2vh;
  background-color: pink;
  line-height: 1.5;
  padding: 20px;
  background: url(myassets/coffee\ beans\ flipped\ \(2\).png);
}

.appContainer div{
  padding: 20px;
  margin: 10px;
  background-color: burlywood;
}

.clickMe button, .resetMe button{
  background-color: #7F5A3B;
  color: white;
  border-radius: 12px;
  border: none;
  height: 7vh;
  width: 15vh;
  font-size: 1rem;
}

.clickMe{
  border: 2px solid red;
  /* opacity: 50%; how do i make background transparent but not the button?*/
}
.resetMe{
  border: 2px solid blue;
}
.countLabel{
  font-size: 2rem;
  border: 2px solid green;
}
.textDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid yellow;
}
.textDiv button{
  margin-top: 10px;
  background-color: #7F5A3B;
  color: white;
  border-radius: 12px;
  border: none;
  height: 7vh;
  width: 30vh;
  font-size: 1rem;
}
.messagePopup{
  border: 3px solid purple;
}